<script>
  import tooltip from '@/actions/tooltip';
</script>

<footer class="page-footer">
  <div class="wrapper wrapper-lg">
    <div class="primary-bar">
      <div class="footer-col socials">
        <a
          href={import.meta.env.FT_REPO_URL}
          rel="noopener noreferrer"
          target="_blank"
          class="btn btn-secondary btn-circle btn-hint social-item"
          aria-label="Go to GitHub"
          use:tooltip={{ text: 'Go to GitHub', position: 'top' }}
        >
          <i class="ri-github-line" />
        </a>
      </div>
    </div>
    <div class="secondary-bar">
      <div class="terms">
        <span class="txt">
          © {new Date().getFullYear()} finance-<strong>tracker</strong>
        </span>
      </div>
      <div class="flex-fill" />
    </div>
  </div>
</footer>
