<script>
  import { replace } from "svelte-spa-router";
  import FullPage from "@/components/base/FullPage.svelte";
  import { user } from "@/stores/user";

  handler();

  function handler() {
    if ($user.id) {
      replace("/dashboard");
    }
  }
</script>

<FullPage>
  <p class="content txt-center m-b-base">
    Keep track of your income and expenses with our easy-to-use finance tracker.
  </p>
  <div class="flex col space-x-4">
    <button class="btn btn-block btn-next" on:click={() => replace("/login")}
      >log in
      <i class="ri-arrow-right-line" />
    </button>
  </div>
</FullPage>
