<script>
  import Read from './Read.svelte';
  import Create from './Create.svelte';
  import Update from './Update.svelte';
  import Delete from './Delete.svelte';
  import List from './List.svelte';
</script>

<div class="accordions">
  <List />
  <Read />
  <Create />
  <Update />
  <Delete />
</div>
