<script>
  import Accordion from '@/components/Accordion.svelte';
  import CodeBlock from '@/components/CodeBlock.svelte';

  const responses = [
    {
      code: 200,
      body: `
        {
          "success": true,
          "message": "Category created: Groceries.",
          "data": {
            "id": "56bc4c4c-211a-4da3-a90c-345d7c9348dc",
            "name": "Groceries",
            "type": "expense",
            "user": "1c882a8c-6c09-4189-b972-d2076d7301b1"
          }
        }
      `
    },
    {
      code: 400,
      body: `
        {
          "success": false,
          "message": "InvalidInputError: Name is required.",
          "data": null
        }
      `
    },
    {
      code: 401,
      body: `
        {
          "success": false,
          "message": "UnauthorizedError: Invalid token.",
          "data": null
        }
      `
    }
  ];

  let responseTab = responses[0].code;
</script>

<Accordion single>
  <svelte:fragment slot="header">
    <strong>Create Category</strong>
  </svelte:fragment>

  <div class="content m-b-sm">
    <p>Creates a new category for expenses or incomes.</p>
  </div>

  <div class="api-route alert alert-success">
    <strong class="label label-primary">POST</strong>
    <div class="content">/category/new</div>
    <small class="txt-hint auth-header">Requires <code>Authorization: TOKEN</code></small>
  </div>

  <div class="section-title">Body Parameters</div>
  <table class="table-compact table-border">
    <thead>
      <tr>
        <th>Param</th>
        <th>Type</th>
        <th width="50%">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="inline-flex">
            <span class="label label-danger">Generated</span>
            <span>id</span>
          </div>
        </td>
        <td>
          <span class="label">UUID</span>
        </td>
        <td>
          <strong>UUID</strong> to store as category ID.
          <br />
          It will be auto generated.
        </td>
      </tr>
      <tr>
        <td>
          <div class="inline-flex">
            <span class="label label-success">Required</span>
            <span class="txt">name</span>
          </div>
        </td>
        <td>
          <span class="label">String</span>
        </td>
        <td>Name of the category.</td>
      </tr>
      <tr>
        <td>
          <div class="inline-flex">
            <span class="label label-success">Required</span>
            <span class="txt">type</span>
          </div>
        </td>
        <td>
          <span class="label">ENUM</span>
        </td>
        <td>
          Type of the category.
          <br />
          Either <strong>"income"</strong> or <strong>"expense"</strong>.
        </td>
      </tr>
      <tr>
        <td>
          <div class="inline-flex">
            <span class="label label-danger">Generated</span>
            <span class="txt">user</span>
          </div>
        </td>
        <td>
          <span class="label">UUID</span>
        </td>
        <td>
          <strong>UUID</strong> of the user that created the category.
          <br />
          It will be auto generated.
        </td>
      </tr>
    </tbody>
  </table>

  <div class="section-title">Responses</div>
  <div class="tabs">
    <div class="tabs-header compact left">
      {#each responses as response (response.code)}
        <button
          class="tab-item"
          class:active={responseTab === response.code}
          on:click={() => (responseTab = response.code)}
        >
          {response.code}
        </button>
      {/each}
    </div>
    <div class="tabs-content">
      {#each responses as response (response.code)}
        <div class="tab-item" class:active={responseTab === response.code}>
          <CodeBlock content={response.body} />
        </div>
      {/each}
    </div>
  </div>
</Accordion>
