<script>
  import Accordion from '@/components/Accordion.svelte';
  import CodeBlock from '@/components/CodeBlock.svelte';

  const responses = [
    {
      code: 200,
      body: `
          {
            "success": true,
            "message": "Request Successfull",
            "data": {
              "categories": [
                {
                  "id": "7df2f127-7fb5-4767-95bb-5f6d5f0ac924",
                  "name": "Utilities",
                  "type": "expense",
                  "description": "to utilize stuff.",
                  "color": "blue",
                  "parent": null
                }
              ],
              "totalItems": 1,
              "currentPage": 1,
              "totalPage": 1
            }
          }
      `
    },
    {
      code: 400,
      body: `
          {
            "message": "BadRequestError: Invalid request parameters!",
            "success": false,
            "data": null
          }
    `
    }
  ];

  let responseTab = responses[0].code;
</script>

<Accordion single>
  <svelte:fragment slot="header">
    <strong>List Accounts</strong>
  </svelte:fragment>

  <div class="content m-b-sm">
    <p>Return a list of categories.</p>
  </div>

  <div class="api-route alert alert-info">
    <strong class="label label-primary">GET</strong>
    <div class="content">/category</div>
  </div>

  <div class="content m-b-sm">
    <p>Query parameters:</p>
    <ul>
      <li><code>page</code> - The page number to return. Default is 1.</li>
      <li><code>limit</code> - The number of items to return per page. Default is 10.</li>
    </ul>
  </div>

  <div class="section-title">Responses</div>
  <div class="tabs">
    <div class="tabs-header compact left">
      {#each responses as response (response.code)}
        <button
          class="tab-item"
          class:active={responseTab === response.code}
          on:click={() => (responseTab = response.code)}
        >
          {response.code}
        </button>
      {/each}
    </div>

    <div class="tabs-content">
      {#each responses as response (response.code)}
        <div class="tab-item" class:active={responseTab === response.code}>
          <CodeBlock content={response.body} />
        </div>
      {/each}
    </div>
  </div>
</Accordion>
