<script>
  import Accordion from '@/components/Accordion.svelte';
  import CodeBlock from '@/components/CodeBlock.svelte';

  const responses = [
    {
      code: 200,
      body: `
          {
            "success": true,
            "message": "Category found: 7df2f127-7fb5-4767-95bb-5f6d5f0ac924.",
            "data": {
              "id": "7df2f127-7fb5-4767-95bb-5f6d5f0ac924",
              "name": "Utilities",
              "type": "expense",
              "description": "to utilize stuff.",
              "color": "blue",
              "parent": null
            }
          }
    `
    },
    {
      code: 400,
      body: `
          {
            "message": "BadRequestError: Invalid Account Id",
            "success": false,
            "data": null
          }
    `
    },
    {
      code: 404,
      body: `
          {
            "message": "NotFoundError: Category doesn't exist!",
            "success": false,
            "data": null
          }
    `
    }
  ];

  let responseTab = responses[0].code;
</script>

<Accordion single>
  <svelte:fragment slot="header">
    <strong>View Category</strong>
  </svelte:fragment>

  <div class="content m-b-sm">
    <p>Return a single category by its ID.</p>
  </div>

  <div class="api-route alert alert-info">
    <strong class="label label-primary">GET</strong>
    <div class="content">/category/<code>id</code></div>
  </div>

  <div class="section-title">Responses</div>
  <div class="tabs">
    <div class="tabs-header compact left">
      {#each responses as response (response.code)}
        <button
          class="tab-item"
          class:active={responseTab === response.code}
          on:click={() => (responseTab = response.code)}
        >
          {response.code}
        </button>
      {/each}
    </div>

    <div class="tabs-content">
      {#each responses as response (response.code)}
        <div class="tab-item" class:active={responseTab === response.code}>
          <CodeBlock content={response.body} />
        </div>
      {/each}
    </div>
  </div>
</Accordion>
