<script>
  import Accordion from '@/components/Accordion.svelte';
  import CodeBlock from '@/components/CodeBlock.svelte';

  const responses = [
    {
      code: 200,
      body: `
          {
            "success": true,
            "message": "Category updated: 7df2f127-7fb5-4767-95bb-5f6d5f0ac924",
            "data": {
              "id": "7df2f127-7fb5-4767-95bb-5f6d5f0ac924",
              "name": "Utilities",
              "type": "expense",
              "description": "to utilize stuff.",
              "color": "green",
              "parent": null
            }
          }
    `
    },
    {
      code: 404,
      body: `
          {
            "message": "NotFoundError: Account doesn't exist!",
            "success": false,
            "data": null
          }
    `
    }
  ];

  let responseTab = responses[0].code;
</script>

<Accordion single>
  <svelte:fragment slot="header">
    <strong>Update Category</strong>
  </svelte:fragment>

  <div class="content m-b-sm">
    <p>Update an category by its ID.</p>
  </div>

  <div class="api-route alert alert-warning">
    <strong class="label label-primary">PATCH</strong>
    <div class="content">/category/<code>id</code></div>
  </div>

  <div class="section-title">Body Parameters</div>
  <table class="table-compact table-border">
    <thead>
      <tr>
        <th>Param</th>
        <th>Type</th>
        <th width="50%">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="inline-flex">
            <span class="label label-success">Required</span>
            <span class="txt">name</span>
          </div>
        </td>
        <td>
          <span class="label">String</span>
        </td>
        <td>Name of the Account, Wallet or Credit Card.</td>
      </tr>
      <tr>
        <td>
          <div class="inline-flex">
            <span class="label label-success">Required</span>
            <span class="txt">type</span>
          </div>
        </td>
        <td>
          <span class="label">ENUM</span>
        </td>
        <td
          >Account type. <br /> Either <strong>"bank"</strong>, <strong>"cash"</strong>, <strong>"wallet"</strong> or
          <strong>"credit-card"</strong>.</td
        >
      </tr>
    </tbody>
  </table>
  <small class="block txt-hint m-t-10 m-b-base">
    Body parameters could be sent as <em>JSON</em> or <em>application/json</em>.
  </small>

  <div class="section-title">Responses</div>
  <div class="tabs">
    <div class="tabs-header compact left">
      {#each responses as response (response.code)}
        <button
          class="tab-item"
          class:active={responseTab === response.code}
          on:click={() => (responseTab = response.code)}
        >
          {response.code}
        </button>
      {/each}
    </div>

    <div class="tabs-content">
      {#each responses as response (response.code)}
        <div class="tab-item" class:active={responseTab === response.code}>
          <CodeBlock content={response.body} />
        </div>
      {/each}
    </div>
  </div>
</Accordion>
