<script>
  import Accordion from '@/components/Accordion.svelte';
  import CodeBlock from '@/components/CodeBlock.svelte';

  const responses = [
    {
      code: 200,
      body: `
        {
          "success": true,
          "message": "Account created: bank.",
          "data": {
            "id": "a6f7816e-cac1-4909-bc4f-27ff04d5026d",
            "name": "Bank",
            "type": "bank",
            "user": "1c882a8c-6c09-4189-b972-d2076d7301b1",
            "accountNumber": "0987654321",
            "openingBalance": 10000,
            "balance": 10000
          }
        }
    `
    },
    {
      code: 400,
      body: `
        {
          "success": false,
          "message": "InvalidInputError: Account Type is invalid.",
          "data": null
        }
    `
    },
    {
      code: 401,
      body: `
        {
          "success": false,
          "message": "UnauthorizedError: Invalid token.",
          "data": null
        }
    `
    }
  ];

  let responseTab = responses[0].code;
</script>

<Accordion single>
  <svelte:fragment slot="header">
    <strong>Create Account</strong>
  </svelte:fragment>

  <div class="content m-b-sm">
    <p>Creates a new account.</p>
  </div>

  <div class="api-route alert alert-success">
    <strong class="label label-primary">POST</strong>
    <div class="content">/account/new</div>
    <small class="txt-hint auth-header">Requires <code>Authorization: TOKEN</code></small>
  </div>

  <div class="section-title">Body Parameters</div>
  <table class="table-compact table-border">
    <thead>
      <tr>
        <th>Param</th>
        <th>Type</th>
        <th width="50%">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="inline-flex">
            <span class="label label-danger">Generated</span>
            <span>id</span>
          </div>
        </td>
        <td>
          <span class="label">UUID</span>
        </td>
        <td>
          <strong>UUID</strong> to store as account ID.
          <br />
          It will be auto generated.
        </td>
      </tr>
      <tr>
        <td>
          <div class="inline-flex">
            <span class="label label-success">Required</span>
            <span class="txt">name</span>
          </div>
        </td>
        <td>
          <span class="label">String</span>
        </td>
        <td>Name of the Account, Wallet or Credit Card.</td>
      </tr>
      <tr>
        <td>
          <div class="inline-flex">
            <span class="label label-success">Required</span>
            <span class="txt">type</span>
          </div>
        </td>
        <td>
          <span class="label">ENUM</span>
        </td>
        <td
          >Account type. <br /> Either <strong>"bank"</strong>, <strong>"cash"</strong>, <strong>"wallet"</strong> or
          <strong>"credit-card"</strong>.</td
        >
      </tr>
      <tr>
        <td>
          <div class="inline-flex">
            <span class="label label-success">Required</span>
            <span class="txt">user</span>
          </div>
        </td>
        <td>
          <span class="label">UUID</span>
        </td>
        <td>User ID of the associated account.</td>
      </tr>
      <tr>
        <td>
          <div class="inline-flex">
            <span class="label label-success">Required</span>
            <span class="txt">accountNumber</span>
          </div>
        </td>
        <td>
          <span class="label">String</span>
        </td>
        <td>Account ID of the account.</td>
      </tr>
      <tr>
        <td>
          <div class="inline-flex">
            <span class="label label-success">Required</span>
            <span class="txt">openingBalance</span>
          </div>
        </td>
        <td>
          <span class="label">Number</span>
        </td>
        <td>Opening Balance of the account.</td>
      </tr>
    </tbody>
  </table>
  <small class="block txt-hint m-t-10 m-b-base">
    Body parameters could be sent as <em>JSON</em> or <em>application/json</em>.
  </small>

  <div class="section-title">Responses</div>
  <div class="tabs">
    <div class="tabs-header compact left">
      {#each responses as response (response.code)}
        <button
          class="tab-item"
          class:active={responseTab === response.code}
          on:click={() => (responseTab = response.code)}
        >
          {response.code}
        </button>
      {/each}
    </div>
    <div class="tabs-content">
      {#each responses as response (response.code)}
        <div class="tab-item" class:active={responseTab === response.code}>
          <CodeBlock content={response.body} />
        </div>
      {/each}
    </div>
  </div>
</Accordion>
