<script>
  import Accordion from '@/components/Accordion.svelte';
  import CodeBlock from '@/components/CodeBlock.svelte';

  const responses = [
    {
      code: 200,
      body: `
          {
            "message": "Account deleted successfully!",
            "success": true,
            "data": null
          }
    `
    },
    {
      code: 404,
      body: `
          {
            "message": "NotFoundError: Account doesn't exist!",
            "success": false,
            "data": null
          }
    `
    },
    {
      code: 400,
      body: `
          {
            "message": "BadRequestError: Invalid request parameters!",
            "success": false,
            "data": null
          }
    `
    }
  ];

  let responseTab = responses[0].code;
</script>

<Accordion single>
  <svelte:fragment slot="header">
    <strong>Delete Account</strong>
  </svelte:fragment>

  <div class="content m-b-sm">
    <p>Delete an account by its ID.</p>
  </div>

  <div class="api-route alert alert-danger">
    <strong class="label label-primary">DELETE</strong>
    <div class="content">/accounts/<code>id</code></div>
  </div>

  <div class="section-title">Responses</div>
  <div class="tabs">
    <div class="tabs-header compact left">
      {#each responses as response (response.code)}
        <button
          class="tab-item"
          class:active={responseTab === response.code}
          on:click={() => (responseTab = response.code)}
        >
          {response.code}
        </button>
      {/each}
    </div>

    <div class="tabs-content">
      {#each responses as response (response.code)}
        <div class="tab-item" class:active={responseTab === response.code}>
          <CodeBlock content={response.body} />
        </div>
      {/each}
    </div>
  </div>
</Accordion>

<!-- // based on Read.svelte // generate Delete.svelte -->
