<script>
  import Accordion from '@/components/Accordion.svelte';
  import CodeBlock from '@/components/CodeBlock.svelte';

  const responses = [
    {
      code: 200,
      body: `
          {
            "success": true,
            "message": "Account found: a6f7816e-cac1-4909-bc4f-27ff04d5026d.",
            "data": {
              "id": "a6f7816e-cac1-4909-bc4f-27ff04d5026d",
              "name": "My National Bank",
              "type": "bank",
              "user": "1c882a8c-6c09-4189-b972-d2076d7301b1",
              "accountNumber": "0987654321",
              "openingBalance": 10000,
              "balance": 8457
            }
          }
    `
    },
    {
      code: 400,
      body: `
          {
            "message": "BadRequestError: Invalid Account Id",
            "success": false,
            "data": null
          }
    `
    },
    {
      code: 404,
      body: `
          {
            "message": "NotFoundError: Account doesn't exist!",
            "success": false,
            "data": null
          }
    `
    }
  ];

  let responseTab = responses[0].code;
</script>

<Accordion single>
  <svelte:fragment slot="header">
    <strong>View Account</strong>
  </svelte:fragment>

  <div class="content m-b-sm">
    <p>Return a single account by its ID.</p>
  </div>

  <div class="api-route alert alert-info">
    <strong class="label label-primary">GET</strong>
    <div class="content">/accounts/<code>id</code></div>
  </div>

  <div class="section-title">Responses</div>
  <div class="tabs">
    <div class="tabs-header compact left">
      {#each responses as response (response.code)}
        <button
          class="tab-item"
          class:active={responseTab === response.code}
          on:click={() => (responseTab = response.code)}
        >
          {response.code}
        </button>
      {/each}
    </div>

    <div class="tabs-content">
      {#each responses as response (response.code)}
        <div class="tab-item" class:active={responseTab === response.code}>
          <CodeBlock content={response.body} />
        </div>
      {/each}
    </div>
  </div>
</Accordion>
