<script>
  import "./scss/main.scss";

  import Router, { replace, link } from "svelte-spa-router";
  import active from "svelte-spa-router/active";
  import routes from "./routes";
  import ApiClient from "@/utils/ApiClient";
  import CommonHelper from "@/utils/CommonHelper";
  import tooltip from "@/actions/tooltip";
  import Toasts from "@/components/base/Toasts.svelte";
  import Toggler from "@/components/base/Toggler.svelte";
  import Confirmation from "@/components/base/Confirmation.svelte";
  import { pageTitle, appName } from "@/stores/app";
  import { user } from "@/stores/user";
  import { setErrors } from "@/stores/errors";
  import { resetConfirmation } from "@/stores/confirmation";

  let oldLocation = undefined;

  // default: false
  let showAppSidebar = true;

  function handleRouteLoading(e) {
    if (e?.detail?.location === oldLocation) {
      return; // not an actual change
    }

    showAppSidebar = !!e?.detail?.userData?.showAppSidebar;

    oldLocation = e?.detail?.location;

    // resets
    $pageTitle = "";
    setErrors({});
    resetConfirmation();
  }

  function handleRouteFailure() {
    replace("/");
  }

  function logout() {
    ApiClient.user.logout();
  }
</script>

<svelte:head>
  <title
    >{CommonHelper.joinNonEmpty(
      [$pageTitle, $appName, "finance-tracker"],
      " | "
    )}</title
  >
</svelte:head>

<div class="app-layout">
  {#if $user?.id && showAppSidebar}
    <aside class="app-sidebar">
      <a href="/" class="logo logo-sm" use:link>
        <img
          src="{import.meta.env.BASE_URL}images/logo.svg"
          alt="finance-tracker logo"
          width="40"
          height="40"
        />
      </a>

      <nav class="main-menu">
        <a
          href="/dashboard"
          class="menu-item"
          aria-label="Dashboard"
          use:link
          use:active={{ path: "/dashboard/?.*", className: "current-route" }}
          use:tooltip={{ text: "Dashboard", position: "right" }}
        >
          <i class="ri-dashboard-line" />
        </a>
        <a
          href="/transactions"
          class="menu-item"
          aria-label="Transactions"
          use:link
          use:active={{ path: "/transactions/?.*", className: "current-route" }}
          use:tooltip={{ text: "Transactions", position: "right" }}
        >
          <i class="ri-line-chart-line" />
        </a>
        <a
          href="/accounts"
          class="menu-item"
          aria-label="Accounts"
          use:link
          use:active={{ path: "/accounts/?.*", className: "current-route" }}
          use:tooltip={{ text: "Accounts", position: "right" }}
        >
          <i class="ri-bank-line" />
        </a>
        <a
          href="/settings"
          class="menu-item"
          aria-label="Settings"
          use:link
          use:active={{ path: "/settings/?.*", className: "current-route" }}
          use:tooltip={{ text: "Settings", position: "right" }}
        >
          <i class="ri-tools-line" />
        </a>
      </nav>

      <figure class="thumb thumb-circle link-hint closable">
        <img
          src="{import.meta.env.BASE_URL}images/avatars/avatar{$user?.avatar ||
            0}.svg"
          alt="Avatar"
        />
        <Toggler class="dropdown dropdown-nowrap dropdown-upside dropdown-left">
          <a href="/settings/admins" class="dropdown-item closable" use:link>
            <i class="ri-shield-user-line" />
            <span class="txt">Manage admins</span>
          </a>
          <hr />
          <button
            type="button"
            class="dropdown-item closable"
            on:click={logout}
          >
            <i class="ri-logout-circle-line" />
            <span class="txt">logout</span>
          </button>
        </Toggler>
      </figure>
    </aside>
  {/if}

  <div class="app-body">
    <Router
      {routes}
      on:routeLoading={handleRouteLoading}
      on:conditionsFailed={handleRouteFailure}
    />

    <Toasts />
  </div>
</div>

<Confirmation />
