<script>
  import { pageTitle, activeMenu, hideControls } from "@/stores/app";
  // import { transactionList } from "@stores/transactions";

  import RefreshButton from "@/components/base/RefreshButton.svelte";
  import PageWrapper from "@/components/base/PageWrapper.svelte";
  import HorizontalScroller from "@/components/base/HorizontalScroller.svelte";

  $pageTitle = "dashboard";

  let transactionList;
</script>

<!--  for API preview on:click={() => collectionDocsPanel?.show($activeCollection)} -->
<PageWrapper>
  <header class="page-header">
    <nav class="breadcrumbs">
      <div class="breadcrumb-item">Dashboard</div>
      <div class="breadcrumb-item">{$activeMenu}</div>
    </nav>

    <div class="inline-flex gap-5">
      <RefreshButton on:refresh={() => transactionList?.load()} />
    </div>

    <div class="btns-group">
      <button type="button" class="btn btn-outline">
        <i class="ri-code-s-slash-line" />
        <span class="txt">API Preview</span>
      </button>

      <!-- {#if !$activeCollection.$isView}
        <button
          type="button"
          class="btn btn-expanded"
          on:click={() => recordUpsertPanel?.show()}
        >
          <i class="ri-add-line" />
          <span class="txt">New record</span>
        </button>
      {/if} -->
    </div>
  </header>

  <HorizontalScroller />
  dashboard
</PageWrapper>
