<script>
  import { pageTitle } from "@/stores/app";

  // import Field from "@/components/base/Field.svelte";
  // import Searchbar from "@/components/base/Searchbar.svelte";
  import RefreshButton from "@/components/base/RefreshButton.svelte";
  import PageWrapper from "@/components/base/PageWrapper.svelte";
  import TransactionsList from "@/components/transactions/TransactionsList.svelte";
  import TransactionViewPanel from "@/components/transactions/TransactionViewPanel.svelte";
  import TransactionUpsertPanel from "@/components/transactions/TransactionUpsertPanel.svelte";

  $pageTitle = "transactions";

  let filter = "";
  let transactionUpsertPanel;
  let transactionPanel;

  function refresh() {
    transactionPanel?.load();
  }
</script>

<PageWrapper>
  <header class="page-header">
    <nav class="breadcrumbs">
      <div class="breadcrumb-item">Transactions</div>
      <div class="breadcrumb-item">{$pageTitle}</div>
    </nav>

    <div class="inline-flex gap-5">
      <RefreshButton on:refresh={() => refresh()} />
    </div>

    <div class="btns-group">
      <button type="button" class="btn btn-outline">
        <i class="ri-code-s-slash-line" />
        <span class="txt">API preview</span>
      </button>
      <button
        type="button"
        class="btn btn-expanded"
        on:click={() => transactionUpsertPanel?.show()}
      >
        <i class="ri-add-line" />
        <span class="txt">new transaction</span>
      </button>
    </div>
  </header>

  <TransactionsList
    bind:filter
    on:select={(e) => transactionPanel?.show(e?.detail)}
  />
</PageWrapper>

<TransactionViewPanel bind:this={transactionPanel} />

<TransactionUpsertPanel bind:this={transactionUpsertPanel} />
