<script>
  import { createEventDispatcher, tick } from "svelte";
  import { scale } from "svelte/transition";

  import OverlayPanel from "@/components/base/OverlayPanel.svelte";

  const TYPE_EXPENSE = "expense";
  const TYPE_INCOME = "income";

  const transactionTypes = {};
  transactionTypes[TYPE_EXPENSE] = "Expense";
  transactionTypes[TYPE_INCOME] = "Income";

  const dispatch = createEventDispatcher();

  let transactionUpsertPanel;
  let confirmChangesPanel;
  let isSaving = false;
  let confirmClose = false; // prevent close recursion

  export function show(model) {
    // load(model);
    confirmClose = true;
    return transactionUpsertPanel?.show();
  }

  export function hide() {
    return transactionUpsertPanel?.hide();
  }
</script>

<OverlayPanel
  bind:this={transactionUpsertPanel}
  class="overlay-panel-lg colored-header collection-panel"
  escClose={false}
  overlayClose={!isSaving}
  beforeHide={() => {
    if (confirmClose) {
      confirm(
        "You have unsaved changes. Do you really want to close the panel?",
        () => {
          confirmClose = false;
          hide();
        }
      );
      return false;
    }
    return true;
  }}
  on:hide
  on:show
>
  <svelte:fragment slot="header">
    <h4>new transaction</h4>
  </svelte:fragment>

  <svelte:fragment slot="footer">
    <button type="button" class="btn btn-transparent" on:click={() => hide()}>
      <span class="txt">Close</span>
    </button>
  </svelte:fragment>
</OverlayPanel>
