<script>
  import { createEventDispatcher } from "svelte";

  import ApiClient from "@/utils/ApiClient";
  import CommonHelper from "@/utils/CommonHelper";
  import SortHeader from "@/components/base/SortHeader.svelte";
  import FormattedDate from "@/components/base/FormattedDate.svelte";
  import HorizontalScroller from "@/components/base/HorizontalScroller.svelte";

  const dispatch = createEventDispatcher();

  export let filter = "";
  // export let presets = "";
  export let sort = "-rowid";

  let transactions = [];
  let currentPage = 1;
  let totalItems = 0;
  let isLoading = false;

  $: {
    if (typeof sort !== "undefined" || typeof filter !== "undefined") {
      clearList();
      load(1);
    }
  }

  let canLoadMore = false;
  $: canLoadMore = totalItems > transactions.length;

  export async function load(page = 1) {
    isLoading = true;

    try {
      const result = await ApiClient.transactions.getTransactions();

      if (page <= 1) {
        clearList();
      }

      isLoading = false;
      currentPage = result.currentPage;
      totalItems = result.totalItems;
      transactions = transactions.concat(result.transactions); // Update the transactions array

      dispatch("load", transactions);
    } catch (error) {
      isLoading = false;
      clearList();
      console.error(error);
    }
  }

  function clearList() {
    transactions = [];
    currentPage = 1;
    totalItems = 0;
  }
</script>

<HorizontalScroller class="table=wrapper">
  <table class="table" class:table-loading={isLoading}>
    <thead>
      <tr>
        <SortHeader disable class="col-type-text" name="method" bind:sort>
          <div class="col-header-content">
            <i class={CommonHelper.getFieldTypeIcon("primary")} />
            <span class="txt">id</span>
          </div>
        </SortHeader>

        <SortHeader disable class="col-type-text" name="method" bind:sort>
          <div class="col-header-content">
            <i class={CommonHelper.getFieldTypeIcon("string")} />
            <span class="txt">account</span>
          </div>
        </SortHeader>

        <SortHeader disable class="col-type-text" name="method" bind:sort>
          <div class="col-header-content">
            <i class={CommonHelper.getFieldTypeIcon("number")} />
            <span class="txt">amount</span>
          </div>
        </SortHeader>

        <SortHeader disable class="col-type-text" name="method" bind:sort>
          <div class="col-header-content">
            <i class={CommonHelper.getFieldTypeIcon("string")} />
            <span class="txt">description</span>
          </div>
        </SortHeader>

        <SortHeader disable class="col-type-text" name="method" bind:sort>
          <div class="col-header-content">
            <i class={CommonHelper.getFieldTypeIcon("string")} />
            <span class="txt">category</span>
          </div>
        </SortHeader>

        <SortHeader disable class="col-type-text" name="method" bind:sort>
          <div class="col-header-content">
            <i class={CommonHelper.getFieldTypeIcon("date")} />
            <span class="txt">created_at</span>
          </div>
        </SortHeader>
      </tr>
    </thead>

    <tbody>
      {#each transactions as transaction (transaction.id)}
        <tr
          tabindex="0"
          class="row-handle"
          on:click={() => dispatch("select", transaction)}
          on:keydown={(e) => {
            if (e.code === "Enter") {
              e.preventDefault();
              dispatch("select", transaction);
            }
          }}
        >
          <td class="col-type-text">{transaction.id}</td>
          <td class="col-type-text">{transaction.account}</td>
          <td class="col-type-text">{transaction.amount}</td>
          <td class="col-type-text">{transaction.description}</td>
          <td class="col-type-text">{transaction.category}</td>
          <td class="col-type-text">
            <FormattedDate date={transaction.createdAt} />
          </td>
          <td class="col-type-action min-width">
            <i class="ri-arrow-right-line" />
          </td>
        </tr>
      {:else}
        {#if isLoading}
          <tr>
            <td colspan="99" class="p-xs">
              <span class="skeleton-loader m-0" />
            </td>
          </tr>
        {:else}
          <tr>
            <td colspan="99" class="txt-center txt-hint p-xs">
              <h6>no transactions found.</h6>
              {#if filter?.length}
                <button
                  type="button"
                  class="btn btn-hint btn-expanded m-t-sm"
                  on:click={() => (filter = "")}
                >
                  <span class="txt">Clear filters</span>
                </button>
              {/if}
            </td>
          </tr>
        {/if}
      {/each}
    </tbody>
  </table>
</HorizontalScroller>

{#if transactions.length}
  <small class="block txt-hint txt-right m-t-sm"
    >Showing {transactions.length} of {totalItems}</small
  >
{/if}

{#if transactions.length && canLoadMore}
  <div class="block txt-center m-t-xs">
    <button
      type="button"
      class="btn btn-lg btn-secondary btn-expanded"
      class:btn-loading={isLoading}
      class:btn-disabled={isLoading}
      on:click={() => load(currentPage + 1)}
    >
      <span class="txt">Load more ({totalItems - transactions.length})</span>
    </button>
  </div>
{/if}
