<script>
  import FormattedDate from "@/components/base/FormattedDate.svelte";
  import OverlayPanel from "@/components/base/OverlayPanel.svelte";

  let transactionPanel;
  let item;

  export function show(model) {
    item = model;

    return transactionPanel?.show();
  }

  export function hide() {
    return transactionPanel?.hide();
  }
</script>

<OverlayPanel
  bind:this={transactionPanel}
  class="overlay-panel-lg log-panel"
  on:hide
  on:show
>
  <svelte:fragment slot="header">
    <h4>transaction #{item.id}</h4>
  </svelte:fragment>

  <table class="table-border">
    <tbody>
      <tr>
        <td class="min-width txt-hint txt-bold">ID</td>
        <td>{item.id}</td>
      </tr>
      <tr>
        <td class="min-width txt-hint txt-bold">Type</td>
        <td>{item.type}</td>
      </tr>
      <tr>
        <td class="min-width txt-hint txt-bold">Account</td>
        <td>{item.account}</td>
      </tr>
      <tr>
        <td class="min-width txt-hint txt-bold">Amount</td>
        <td>{item.amount}</td>
      </tr>

      <tr>
        <td class="min-width txt-hint txt-bold">Category</td>
        <td>{item.category}</td>
      </tr>
      <tr>
        <td class="min-width txt-hint txt-bold">Created At</td>
        <td>
          <FormattedDate date={item.createdAt} />
        </td>
      </tr>
      <tr>
        <td class="min-width txt-hint txt-bold">Updated At</td>
        <td>
          <FormattedDate date={item.updatedAt} />
        </td>
      </tr>
    </tbody>
  </table>

  <svelte:fragment slot="footer">
    <button type="button" class="btn btn-transparent" on:click={() => hide()}>
      <span class="txt">Close</span>
    </button>
  </svelte:fragment>
</OverlayPanel>
