<script>
  import { link } from "svelte-spa-router";
  import active from "svelte-spa-router/active";
</script>

<aside class="page-sidebar settings-sidebar">
  <div class="sidebar-content">
    <div class="sidebar-title">System</div>
    <a
      href="/settings"
      class="sidebar-list-item"
      use:active={{ path: "/settings" }}
      use:link
    >
      <i class="ri-home-gear-line" />
      <span class="txt">Application</span>
    </a>

    <div class="sidebar-title">
      <span class="txt">Sync</span>
    </div>
    <a
      href="/settings/export-collections"
      class="sidebar-list-item"
      use:active={{ path: "/settings/export-transactions/?.*" }}
      use:link
    >
      <i class="ri-uninstall-line" />
      <span class="txt">Export transactions</span>
    </a>
    <a
      href="/settings/import-transactions"
      class="sidebar-list-item"
      use:active={{ path: "/settings/import-transactions/?.*" }}
      use:link
    >
      <i class="ri-install-line" />
      <span class="txt">Import transactions</span>
    </a>

    <div class="sidebar-title">Account Settings</div>
    <a
      href="/settings/account"
      class="sidebar-list-item"
      use:active={{ path: "/settings/account/?.*" }}
      use:link
    >
      <i class="ri-shield-user-line" />
      <span class="txt">Account</span>
    </a>
  </div>
</aside>
